.movie-detail {
  display: flex;
  align-items: flex-start; /* top của poster và info thẳng nhau */
  gap: 40px; /* khoảng cách giữa poster và info */
  padding: 100px 60px 60px 60px; /* padding-top lớn để tránh header fixed */
}

.movie-poster {
  height: 242px;
  width: 200px; /* tăng poster nếu muốn to hơn */
  flex-shrink: 0; /* không bị co lại */
  border-radius: 10px; /* bo góc đẹp hơn */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.movie-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* để dễ hover trong devtools */
  background-color: rgba(
    255,
    255,
    255,
    0.05
  ); /* trong suốt nhưng vẫn hover được */
  padding: 20px;
}

/* Tiêu đề phim */
.movie-info h2 {
  font-size: 32px;
  color: #e50914;
  margin-bottom: 10px;
}

/* Thông tin khác */
.movie-info p {
  font-size: 16px;
  line-height: 1.5;
  color: #f5f5f5;
}
