 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #111;
    color: #f5f5f5;
    line-height: 1.6;
}

/* Header */
a{
    text-decoration: none;
    color: inherit;
}
header {
    background-color: #000;
    padding: 20px;
    border-bottom: 2px solid #e50914;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    
    color: #e50914;
    font-size: 28px;
    font-weight: bold;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e50914;
}

/* Auth (login/logout) */
.auth {
    font-size: 14px;
}

.auth a {
    color: #e50914;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 600;
}

.auth a:hover {
    text-decoration: underline;
}
