/* ===== MAIN ===== */
.home {
  padding-top: 100px; /* vì header fixed */
}

/* ===== HERO ===== */
.hero {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/inception.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h2 {
  font-size: 42px;
  color: #fff;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
  opacity: 0.85;
}

.btn-primary {
  background-color: #e50914;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #b20710;
}

/* ===== SECTION ===== */
.section {
  padding: 50px 80px;
}
.movie {
    background-color: #1c1c1c;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width: 425px;
    vertical-align: top;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.movie h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #fff;
}

.movie p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.movie a:hover {
    background-color: #b20710;
}

/* Hover effect */
.movie:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(229, 9, 20, 0.4);
}
.btn-group {
    display: flex;
    justify-content: center; /* CĂN GIỮA */
    gap: 12px;               /* khoảng cách 2 nút */
    margin-top: 12px;
}

.btn-group a {
    background-color: #e50914;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
}

