/* ===== MAIN ===== */
.home {
  padding-top: 100px; /* vì header fixed */
}

/* ===== HERO ===== */
.hero {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/inception.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h2 {
  font-size: 42px;
  color: #fff;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
  opacity: 0.85;
}

.btn-primary {
  background-color: #e50914;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #b20710;
}

/* ===== SECTION ===== */
.section {
  padding: 50px 80px;
}
